# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=6d03e67e3c389a8ffe58511fb8677513
###< symfony/framework-bundle ###

COMPOSE_PROJECT_NAME=symfony_7_base

DB_DATABASE=dev
DB_ROOT_USER=root
DB_ROOT_PASSWORD=password
DB_USER=krystian
DB_PASSWORD=password
DB_HOST=app_db
DB_PORT=30022

RABBIT_PORT=5677
RABBIT_MANAGEMENT_PORT=15677