# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=6d03e67e3c389a8ffe58511fb8677513
###< symfony/framework-bundle ###

COMPOSE_PROJECT_NAME=symfony_7_base

DB_DATABASE=dev
DB_ROOT_USER=root
DB_ROOT_PASSWORD=password
DB_USER=krystian
DB_PASSWORD=password
DB_HOST=app_db
DB_PORT=30022

RABBIT_PORT=5677
RABBIT_MANAGEMENT_PORT=15677
###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MESSENGER_DOCTRINE_TRANSPORT_DSN=doctrine://default?auto_setup=0
MESSENGER_AMQP_TRANSPORT_DSN=amqp://guest:guest@app_rabbitmq:5672/%2f/messages
###< symfony/messenger ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8.0.32&charset=utf8mb4"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.9-MariaDB&charset=utf8mb4"
#DATABASE_URL="postgresql://${DB_ROOT_USER:${DB_ROOT_PASSWORD}@${DB_HOST}:5432/${DB_DATABASE}?serverVersion=16&charset=utf8"
DATABASE_URL="mysql://${DB_ROOT_USER}:${DB_ROOT_PASSWORD}@${DB_HOST}:3306/${DB_DATABASE}?serverVersion=mariadb-10.9.2&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

### REDIS ###
REDIS_CACHE_URL=redis://app_redis:6379/1
